= render "header"

.main
  .main__side
    .main__side__search
      %h1 検索フォーム
      %p 料理名で検索
      = form_with url: search_path, method: :get ,local: true do |f|
        = f.text_field :search, placeholder: "何を検索しますか？", class: "search__input"
        = f.submit "検索"
      %p 食材で検索
      = form_with url: search_path, method: :get ,local: true do |f|
        = f.text_field :material, placeholder: "何で検索しますか？", class: "search__input"
        = f.submit "検索"
        -# カテゴリーで検索
        -# ランダムで検索
        -# 気分で検索
        -# 選択肢で検索

  .main__contents
    .main__contents__top
      %p カテゴリーA
      = link_to "もっと見る", "#"

    .main__contents__bottom
      - @foods.each do |food|
        .main__food
          %p
            = food.text
          = link_to "foods/#{food.id}" ,class: "food__list" do
            = image_tag food.image.url, class: "main__food__img"
            .main__food__name
              = food.food_name

    .main__contents__top
      %p カテゴリーB
      = link_to "もっと見る", "#"

    .main__contents__bottom
      .main__food
        .main__food__img
        .main__food__name
          %p うどん
      .main__food
        .main__food__img
        .main__food__name
          %p うどん
      .main__food
        .main__food__img
        .main__food__name
          %p うどん

    .main__contents__top
      %p カテゴリーC
      = link_to "もっと見る", "#"

    .main__contents__bottom
      .main__food
        .main__food__img
        .main__food__name
          %p そば
      .main__food
        .main__food__img
        .main__food__name
          %p そば
      .main__food
        .main__food__img
        .main__food__name
          %p そば