= render "header"

.new
  .new__form
    %h1 レシピ新規投稿
    = form_for [@food] do |f|
      .new__input
        = f.label "料理名"
        %span 必須
        = f.text_field :food_name

      .new__input
        = f.label "画像"
        %span 必須
        = f.file_field :image

      .new__input
        = f.label "説明"
        %span 必須
        = f.text_field :text

      .new__input
        = f.label "カテゴリー"
        %span 必須
        = f.text_field :category_id

      .new__input
        = f.label "食材"
        %span 必須
        .new__serving
          = f.select :servings, [["1人前","1人前"], ["2人前","2人前"], ["3人前","3人前"], ["4人前","4人前"], ["5人前","5人前"], ["6人前","6人前"], ["7人前","7人前"]], {}, {class: "new__serving"}
        = f.fields_for :foodstuffs do |fs|
          = render 'foodstuff_fields', f: fs
        .links
          = link_to_add_association '＋次の材料を追加', f, :foodstuffs

      .new__input
        = f.label "工程"
        %span 必須
        = f.fields_for :recipes do |r|
          = render 'recipe_fields', f: r
        .links
          = link_to_add_association '＋次の工程を追加', f, :recipes

      = f.submit "投稿する", class: "new__submit"