= render "header"

.detail
  .detail__top
    %h1
      = "#{@food.food_name}のページ"
    %p
      = @food.text
  .detail__middle
    = image_tag @food.image.url, class: "detail__middle__img"
    .detail__middle__stuffs
      %table
        %tr.detail__middle__stuffs__top
          %th 材料
          %th
            = "分量(#{@food.servings})"
        - @foodstuffs.each do |f|
          %tr
            - if f.amount == "."
              %th.detail__middle__stuffs__left.emphasis
                = "-----#{f.material}-----"
              %th.detail__middle__stuffs__right
            - else
              %th.detail__middle__stuffs__left
                = f.material
              %th.detail__middle__stuffs__right
                = f.amount


  .detail__bottom
    %p 作り方
    .detail__bottom__recipe
      - @recipes.each_with_index do |f,i|
        .detail__bottom__recipe__list
          %span
            = i + 1
          %p
            = f.process

%p 関連するレシピ